<main
  class="h-screen"
  style="
    background: url('https://www.adana.co.jp/asset/img/bg-copyrights.png')
      no-repeat center center;
    background-size: cover;
  "
>
  <app-navbar></app-navbar>
  <div class="mx-auto pt-28 px-4 md:w-[60vw] sm:text-center lg:text-center">
    <h1
      class="text-xl font-extrabold text-gray-900 sm:text-5xl md:text-6xl tracking-wider"
    >
      <span
        class="bg-gradient-to-tr from-[#aeec13] to-[#0AD3F5] decoration-clone px-2 text-white leading-normal md:px-4"
      >
        Time to create your own nature
      </span>
    </h1>

    <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-center">
      <div class="rounded-md shadow">
        <a
          mat-button
          routerLink="plants"
          class="w-full bg-indigo-600 text-white"
        >
          <div class="flex justify-center items-center">
            <div
              class="w-full px-8 py-3 border border-transparent text-base font-medium rounded-md md:py-4 md:text-lg md:px-10"
            >
              Get started
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>
